<app-barra></app-barra>
<h1>Mis trabajos</h1>
<div class="container">
    <div class="row">
        <div class="col">

            <div class="card" style="width: 25rem;">
                <img src="../assets/foto_efecto.jpg" class="card-img-top" alt="Imagen efecto mariposa">
                <div class="card-body">
                    <h5 class="card-title">Efecto Mariposa</h5>
                    <p class="card-text">El diseño se realizó con el framework Vuetify y CSS. El buscador está asociado a la API de Algolia cuya funcionalidad está basada en JavaScript. Tiene una estructura en HTML.</p>
                    <a href="https://www.efectomariposa.org/" class="btn btn-warning">Ver página web</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 25rem;">
                <img src="../assets/portafolio.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Portafolio anterior</h5>
                    <p class="card-text">Vuetify es la base visual de este proyecto, su estructura es HTML.</p>
                    <a href="https://marialuisa.netlify.app/" class="btn btn-warning">Ver página web</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 25rem;">
                <img src="../assets/olivia.ross.png" class="card-img-top" alt="Fotografía Olivia Ross">
                <div class="card-body">
                    <h5 class="card-title">Olivia Ross</h5>
                    <p class="card-text">El framework empleado es Bootstrap, en base a HTML y CSS.</p>
                    <a href="https://kind-kepler-e132e7.netlify.app/" class="btn btn-warning">Ver demo</a>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">

                <div class="card" style="width: 25rem;">
                    <img src="../assets/barber-shop.png" class="card-img-top" alt="Foto Barber Shop">
                    <div class="card-body">
                        <h5 class="card-title">Barber Shop</h5>
                        <p class="card-text">El diseño se realizó organizado con SASS y hoja de estilos CSS.</p>
                        <a href="https://sharp-murdock-6e5fa7.netlify.app/" class="btn btn-warning">Ver demo</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 25rem;">
                    <img src="../assets/suricata.png" class="card-img-top" alt="Fotografía Suricata">
                    <div class="card-body">
                        <h5 class="card-title">Suricata</h5>
                        <p class="card-text">Está página web de restaurante se realizó con Bootstrap y CSS3.</p>
                        <a href="https://elastic-lewin-dd2cb2.netlify.app/" class="btn btn-warning">Ver demo</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 25rem;">
                    <img src="../assets/Trekking.png" class="card-img-top" alt="Fotografía Trecking">
                    <div class="card-body">
                        <h5 class="card-title">Trecking</h5>
                        <p class="card-text">SASS fue el preprocesador de estilo CSS3 empleado para crear está página de turismo </p>
                        <a href="https://wonderful-bohr-9c6914.netlify.app/" class="btn btn-warning">Ver demo</a>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">

                    <div class="card" style="width: 25rem;">
                        <img src="../assets/Diario.png" class="card-img-top" alt="Fotografía Revista">
                        <div class="card-body">
                            <h5 class="card-title">Revista</h5>
                            <p class="card-text">El desarrollo conjugó el uso del preprocesador SASS, HTML, CSS y el framework Bootstrap.</p>
                            <a href="https://blissful-wright-d30326.netlify.app/" class="btn btn-warning">Ver demo</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 25rem;">
                        <img src="assets/Pokeapi.png" class="card-img-top" alt="Foto Jugueteria">
                        <div class="card-body">
                            <h5 class="card-title">Pokeapi</h5>
                            <p class="card-text">Aplicando JavaScript se realizó la conexión a la API de Pokemón cuyos personajes se muestra en una plantilla de Bootstrap</p>
                            <a href="https://mystifying-mclean-dbb5af.netlify.app/" class="btn btn-warning">Ver
                                demo</a>
                        </div>
                    </div>
                </div>

                <div class="col">

                    <div class="card" style="width: 25rem;">
                        <img src="../assets/rickandmorty.png" class="card-img-top" alt="Fotografía Rick and Mort">
                        <div class="card-body">
                            <h5 class="card-title">Rick and Morty</h5>
                            <p class="card-text">Acceso a la API de Rick and Morty usando lenguaje JavaScript, la información se despliega en un diseño gestionado con bootstrap</p>
                            <a href="https://amazing-jang-b200a1.netlify.app/" class="btn btn-warning">Ver demo</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <style>
    h1 {
        margin: 50px;
        width: 100%;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: xx-large;
      }
    </style>
